body{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 100px;
  color: black;
  background-color: #8EE6AE;
}

nav{
  font-size: 2.5rem;
  text-align: center;
  color: black;
  background-color: white;
}
a{
  padding: 10px;
}

h1{
  font-size: 6rem;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

h2{
  font-size: 2rem;
  text-align: right;
}

h3{
  font-size: 3rem;
  margin-left: 60px;
}

a {
  color: black;
  background-color: transparent;
  text-decoration-line: none;
}

h4{
  font-size: 2rem;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 100px;
  margin-right: 100px;
}

p{
  font-size: 1.5rem;
  margin-left: 100px;
  margin-right: 100px;
}
