body{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 200px;
  color: #EDEDED;
  background-color: #005D40;
}

nav{
  font-family: 'Bitter', serif;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

a{
  font-family: 'Bitter', serif;
  color: #A9F5C7;
  background-color: #005D40;
  text-decoration-line: none;
}

h1{
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 10rem;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 100px;
  margin-right: 80px;
  text-align: left;
}

h2{
  font-family: 'Bitter', serif;
  font-size: 2rem;
  margin-right: 100px;
  text-align: right;
}

h3{
  font-family: 'Bitter', serif;
  font-size: 3rem;
  margin-top: 100px;
  margin-left: 100px;
}

h4{
  font-family: 'Bitter', serif;
  font-size: 2rem;
  padding-top: 60px;
  padding-bottom: 16px;
  margin-left: 120px;
  margin-right: 120px;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 120px;
  margin-right: 120px;
  color: #EDEDED;
  background-color: transparent;
}
